<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <Playwright>
    <BrowserName>chromium</BrowserName>
    <ExpectTimeout>5000</ExpectTimeout>
    <LaunchOptions>
      <Headless>false</Headless>
      <Channel>chrome</Channel>
      <args>["--start-maximized"]</args>
    </LaunchOptions>
  </Playwright>
  <TestRunParameters>
    <Parameter name="username" value="dupa" />
    <Parameter name="password" value="haslo" />
  </TestRunParameters>
</RunSettings>